extends ../layout/index

block content
    div.py-5
        h1.text-4xl.my-5.font-semibold.text-center Real
            span.font-normal Estate 
        h2.text-center.text-2xl= page 

        if errors
            div(class="max-w-md mx-auto mt-10")
                each error in  errors
                    p.bg-red-700.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold.rounded-md= error.msg 

    .mt-5.mx-auto.max-w-md.my-5
        .bg-white.py-3.px-4.shadow
            form.space-y-5(method="POST" action="/auth/forgot-password" noValidate)
                input(type="hidden" name="_csrf" value= csrfToken)
                div 
                    label.block.text-sm.text-gray-800.mb-2(for="email") Enter your email
                    input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email" type="email" name="email")
                
                input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white rounded-md py-2 px-5 cursor-pointer" type="submit" value="Continue")

                div.flex.items-left
                        p.text-gray-500.text-xs.mr-2 New to Real Estate?
                        a(class="text-gray-600 text-xs underline" href="/auth/register") Sign up